:root {
  --darkenTheme: #0b0c10;
  --darkTheme: #1f2833;
  --lightTheme: #c5c6c7;
  --primaryTheme: #66fcf1;
  --primaryDarkenTheme: #45a29e;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}